{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}


<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Martin has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3> <!--Esta sentencia sirve para que sepa solamente si poner o no la s segun cuantos blogs alla-->

{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2>{{ blog.title }}</h2>
    </a> <!-- aca es donde tengo que poner si o si el nombre de la app con : para que entienda la ruta y vaya a detail-->
    <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
    <!-- los comandos de arriba sirve, el de |date para dar formato a la fecha, el de |striptags, para si se usa HTML en el
    texto del blog que no se vea, y el truncate por si hay mas de 100 muestra ...-->
  </div>
</div>
{% endfor %}

{% endblock %}
